.scene
  .teleportal
    .top
    .chamber
      .rodL
      .glass
        .ball
      .rodR
    .base
  .info
    .title
      h2 ANTI-GRAVITY ROOM
      p Click on the button to switch Gravity
    .lever
      button#switch(onclick="changeGravity()") <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" transform="rotate(90)"><path d="M16 8v-4l8 8-8 8v-4h-5v-8h5zm-7 0h-2v8h2v-8zm-4.014 0h-1.986v8h1.986v-8zm-3.986 0h-1v8h1v-8z"/></svg>
